__pycache__/
scripts/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll

dist/
build/
*.spec

venv/
env/
.venv/
.env/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

*.log

*.bak
*.backup

icon.ico      
map_editor.exe
assets/editor_settings.json
assets/hotbar_config.json

*temp*.png